.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    }

.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid;
    top: 0;
    right: 80px;
    bottom: 15px;
    left: 80px;
    font-weight: normal;
    font-size: 42;
    font-style: italic;

}

.secondary-content {
    width: 80%;
    margin: center;
    color:#024e76;

}